[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "causalHyperGraph"]
	path = causalHyperGraph
	url = https://github.com/cran/causalHyperGraph
[submodule "cna"]
	path = cna
	url = https://github.com/cran/cna
[submodule "cnaOpt"]
	path = cnaOpt
	url = https://github.com/cran/cnaOpt
